asn1crypto
bcrypt
cffi
colorama
cryptography
enum34
# frida-tools == 12.2.1
frida==16.1.4
frida-tools
# frida
idna
ipaddress
paramiko
prompt-toolkit
pyasn1
pycparser
Pygments
PyNaCl
scp
six
tqdm
wcwidth
objection